.certification-section{
    margin: 25px auto ;
}
.certificate{
    text-align: center;
   font-weight: bold;
}
.image{
    width: 400px;
    height: 300px;
}
.course-col{
    width: 526px;
    flex-basis:31%;
    background: #fff3ff;;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.5s;
    }
    h3{
        text-align:center;
        font-weight:600;
        margin:10px 0;
    }
    .course-col:hover{
    box-shadow: 0 0 20px 0px black;
    }
.certification-image{
   display: flex;
   justify-content: space-evenly;
}